[
    {
        "_id": "ReplicasetTestCluster",
        "description": "Testing Cluster",
        "replKey": "Shhhhhh This BASE64 key izz veeeery seekrit",

        "members": [
                            {"server": {"$ref": "servers",
                                        "$id": "arbiter_test_server"},
                               "arbiterOnly" : true
                            },

                            {"server": {"$ref": "servers",
                                        "$id": "node1_test_server"}
                            },

                            {"server": {"$ref": "servers",
                                        "$id": "node2_test_server"}
                            }

                   ]
    },


    {
        "_id": "AuthReplicasetTestCluster",
        "description": "Testing Cluster with Auth members",
        "replKey": "Shhhhhh This BASE64 key izz veeeery seekrit",

        "members": [
                            {"server": {"$ref": "servers",
                                        "$id": "auth_arbiter_test_server"},
                               "arbiterOnly" : true
                            },

                            {"server": {"$ref": "servers",
                                        "$id": "auth_node1_test_server"}
                            },

                            {"server": {"$ref": "servers",
                                        "$id": "auth_node2_test_server"}
                            }

                   ]
    }

]
