{
    "fileRepository" : {
       "servers" : "servers.config",
       "clusters" : "clusters.config"
    },

    "databaseRepository" : null,

    "defaultUsers": {
    "admin": [
            {
            "username": "abdulito",
            "password": "mongoctlRocks"
        }
    ],
    "local": [
            {
            "username": "repl",
            "password": "repl_kick"
        }
    ]
}

}