[
   /************* BASIC TEST CONFIGURATIONS **************/
    {
        "_id": "simple_test_server",
            "cmdOptions": {
                "port": 27550,
                "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/simple_test_server"
            }

    },
   /************* MASTER/SLAVE TEST CONFIGURATIONS **************/
    {
        "_id": "master_test_server",

        "cmdOptions": { "port": 10001,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/master_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true,
                               "master": true}
    },

    {
        "_id": "slave_test_server",

         "cmdOptions": { "port": 10002,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/slave_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true,
                               "slave": true,
                               "source": "localhost:10001"}
    },


    /************* REPLICASET TEST CONFIGURATIONS **************/
        // address property needs to be set for repl members
        {
            "_id": "arbiter_test_server",
            "address": "localhost:27667",
                   "cmdOptions": { "port": 27667,
                                   "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/arbiter_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4
                   }
        },

        {
            "_id": "node1_test_server",
            "address": "localhost:27668",
                   "cmdOptions": { "port": 27668,
                                   "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/node1_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4,
                                   "fork": true
                   }
        },

        {
            "_id": "node2_test_server",
            "address": "localhost:27669",
                   "cmdOptions": { "port": 27669,
                                   "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/node2_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4,
                                   "fork": true
                   }
        },


    /************* REPLICASET TEST CONFIGURATIONS **************/

    {
        "_id": "auth_arbiter_test_server",
        "address": "localhost:27667",
               "cmdOptions": { "port": 27667,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/auth_arbiter_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4
               }
    },

    {
        "_id": "auth_node1_test_server",
        "address": "localhost:27668",
               "cmdOptions": { "port": 27668,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/auth_node1_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true
               }
    },

    {
        "_id": "auth_node2_test_server",
        "address": "localhost:27669",
               "cmdOptions": { "port": 27669,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/auth_node2_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true
               }
    }
]
