[
   /************* BASIC TEST CONFIGURATIONS **************/
    {
        "_id": "simple_test_server",
            "cmdOptions": {
                "port": 27550,
                "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/simple_test_server"
            }

    },
   /************* MASTER/SLAVE TEST CONFIGURATIONS **************/
    {
        "_id": "master_test_server",

        "cmdOptions": { "port": 10001,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/master_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true,
                               "master": true}
    },

    {
        "_id": "slave_test_server",

         "cmdOptions": { "port": 10002,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/slave_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true,
                               "slave": true,
                               "source": "localhost:10001"}
    },


    /************* REPLICASET TEST CONFIGURATIONS **************/
        // address property needs to be set for repl members
        {
            "_id": "arbiter_test_server",
            "address": "localhost:27667",
                   "cmdOptions": { "port": 27667,
                                   "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/arbiter_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4
                   }
        },

        {
            "_id": "node1_test_server",
            "address": "localhost:27668",
                   "cmdOptions": { "port": 27668,
                                   "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/node1_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4,
                                   "fork": true
                   }
        },

        {
            "_id": "node2_test_server",
            "address": "localhost:27669",
                   "cmdOptions": { "port": 27669,
                                   "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/node2_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4,
                                   "fork": true
                   }
        },


    /************* REPLICASET TEST CONFIGURATIONS **************/

    {
        "_id": "auth_arbiter_test_server",
        "address": "localhost:27667",
               "cmdOptions": { "port": 27667,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/auth_arbiter_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4
               }
    },

    {
        "_id": "auth_node1_test_server",
        "address": "localhost:27668",
               "cmdOptions": { "port": 27668,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/auth_node1_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true
               }
    },

    {
        "_id": "auth_node2_test_server",
        "address": "localhost:27669",
               "cmdOptions": { "port": 27669,
                               "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/auth_node2_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true
               }
    },


    // Sharded


     {
        "_id": "ConfigServer1",
        "_type": "ConfigMongod",
        "cloudLocalAddress": "localhost:28000",
        "volume": {
          "name": "ConfigServer1"
        },
        "cmdOptions": {
          "port": 28000,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/config-server-1"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28000",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28000"
      },
      {
        "_id": "ConfigServer2",
        "_type": "ConfigMongod",
        "cloudLocalAddress": "localhost:28001",
        "volume": {
          "name": "ConfigServer2"
        },
        "cmdOptions": {
          "port": 28001,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/config-server-2"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28001",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28001"
      },
      {
        "_id": "ConfigServer3",
        "_type": "ConfigMongod",
        "cloudLocalAddress": "localhost:28007",
        "volume": {
          "name": "ConfigServer3"
        },
        "cmdOptions": {
          "port": 28007,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/config-server-3"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28007",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28007"
      },
      {
        "_id": "Mongos1",
        "_type": "Mongos",
        "serverHome": "$MONGOCTL_TEST_DIR/dbpaths/mongos-1",
        "cloudLocalAddress": "localhost:28002",
        "volume": {
          "name": "Mongos1"
        },
        "cmdOptions": {
          "port": 28002
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28002",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28002"
      },
      {
        "_id": "Mongos2",
        "_type": "Mongos",
        "serverHome": "$MONGOCTL_TEST_DIR/dbpaths/mongos-2",
        "cloudLocalAddress": "localhost:28003",
        "volume": {
          "name": "Mongos2"
        },
        "cmdOptions": {
          "port": 28003
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28003",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28003"
      },
      {
        "_id": "ShardArbiter",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:28016",
        "volume": {
          "name": "ShardArbiter"
        },
        "cmdOptions": {
          "port": 28016,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/shard-arbiter"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28016",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28016"
      },
      {
        "_id": "ShardServer1",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:28004",
        "volume": {
          "name": "ShardServer1"
        },
        "cmdOptions": {
          "port": 28004,
          "directoryperdb": true,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/shard-server-1"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28004",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28004"
      },
      {
        "_id": "ShardServer2",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:28005",
        "volume": {
          "name": "ShardServer2"
        },
        "cmdOptions": {
          "port": 28005,
          "directoryperdb": true,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/shard-server-2"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28005",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28005"
      },
      {
        "_id": "ShardServer3",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:28006",
        "volume": {
          "name": "ShardServer3"
        },
        "cmdOptions": {
          "port": 28006,
          "directoryperdb": true,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/shard-server-3"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28006",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28006"
      },
      {
        "_id": "ShardServer4",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:28008",
        "volume": {
          "name": "ShardServer4"
        },
        "cmdOptions": {
          "port": 28008,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/shard-server-4"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28008",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28008"
      },
      {
        "_id": "ShardServer5",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:28009",
        "volume": {
          "name": "ShardServer5"
        },
        "cmdOptions": {
          "port": 28009,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/shard-server-5"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28009",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28009"
      },
      {
        "_id": "ShardServer6",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:28010",
        "volume": {
          "name": "ShardServer6"
        },
        "cmdOptions": {
          "port": 28010,
          "dbpath": "$MONGOCTL_TEST_DIR/dbpaths/shard-server-6"
        },
        "host": {
          "$ref": "hosts",
          "$id": "localhost"
        },
        "address": "localhost:28010",
        "mongoVersion": "3.2.1",
        "infrastructureAdminAddress": "localhost:28010"
      }
]
