[
   /************* BASIC TEST CONFIGURATIONS **************/
    {
        "_id": "simple_test_server",
            "cmdOptions": {
                "port": 27550,
                "dbpath": "$MONGOCTL_TEST_DB_DIR/simple_test_server"
            }

    },
   /************* MASTER/SLAVE TEST CONFIGURATIONS **************/
    {
        "_id": "master_test_server",

        "cmdOptions": { "port": 10001,
                               "dbpath": "$MONGOCTL_TEST_DB_DIR/master_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true,
                               "master": true}
    },

    {
        "_id": "slave_test_server",

         "cmdOptions": { "port": 10002,
                               "dbpath": "$MONGOCTL_TEST_DB_DIR/slave_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true,
                               "slave": true,
                               "source": "localhost:10001"}
    },


    /************* REPLICASET TEST CONFIGURATIONS **************/
        // address property needs to be set for repl members
        {
            "_id": "arbiter_test_server",
            "address": "localhost:27667",
                   "cmdOptions": { "port": 27667,
                                   "dbpath": "$MONGOCTL_TEST_DB_DIR/arbiter_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4
                   }
        },

        {
            "_id": "node1_test_server",
            "address": "localhost:27668",
                   "cmdOptions": { "port": 27668,
                                   "dbpath": "$MONGOCTL_TEST_DB_DIR/node1_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4,
                                   "fork": true
                   }
        },

        {
            "_id": "node2_test_server",
            "address": "localhost:27669",
                   "cmdOptions": { "port": 27669,
                                   "dbpath": "$MONGOCTL_TEST_DB_DIR/node2_test_server",
                                   "auth": false,
                                   "journal": false,
                                   "quota": false,
                                   "quotaFiles": 4,
                                   "fork": true
                   }
        },


    /************* REPLICASET TEST CONFIGURATIONS **************/

    {
        "_id": "auth_arbiter_test_server",
        "address": "localhost:27667",
               "cmdOptions": { "port": 27667,
                               "dbpath": "$MONGOCTL_TEST_DB_DIR/auth_arbiter_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4
               }
    },

    {
        "_id": "auth_node1_test_server",
        "address": "localhost:27668",
               "cmdOptions": { "port": 27668,
                               "dbpath": "$MONGOCTL_TEST_DB_DIR/auth_node1_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true
               }
    },

    {
        "_id": "auth_node2_test_server",
        "address": "localhost:27669",
               "cmdOptions": { "port": 27669,
                               "dbpath": "$MONGOCTL_TEST_DB_DIR/auth_node2_test_server",
                               "auth": true,
                               "journal": false,
                               "quota": false,
                               "quotaFiles": 4,
                               "fork": true
               }
    },


    // Sharded


     {
        "_id": "ConfigServer1",
        "_type": "ConfigMongod",
        "cmdOptions": {
          "port": 38000,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/config-server-1"
        },
        "address": "localhost:38000"
      },
      {
        "_id": "ConfigServer2",
        "_type": "ConfigMongod",
        "cmdOptions": {
          "port": 38001,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/config-server-2"
        },
        "address": "localhost:38001"
      },
      {
        "_id": "ConfigServer3",
        "_type": "ConfigMongod",
        "cmdOptions": {
          "port": 38007,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/config-server-3"
        },
        "address": "localhost:38007"
      },
      {
        "_id": "Mongos1",
        "_type": "Mongos",
        "serverHome": "$MONGOCTL_TEST_DB_DIR/mongos-1",
        "cmdOptions": {
          "port": 38002
        },
        "address": "localhost:38002"
      },
      {
        "_id": "Mongos2",
        "_type": "Mongos",
        "serverHome": "$MONGOCTL_TEST_DB_DIR/mongos-2",
        "cmdOptions": {
          "port": 38003
        },
        "address": "localhost:38003"
      },
      {
        "_id": "ShardArbiter",
        "_type": "Mongod",
        "cmdOptions": {
          "port": 38016,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/shard-arbiter"
        },
        "address": "localhost:38016"
      },
      {
        "_id": "ShardServer1",
        "_type": "Mongod",
        "cloudLocalAddress": "localhost:38004",
        "cmdOptions": {
          "port": 38004,
          "directoryperdb": true,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/shard-server-1"
        },
        "address": "localhost:38004"
      },
      {
        "_id": "ShardServer2",
        "_type": "Mongod",
        "cmdOptions": {
          "port": 38005,
          "directoryperdb": true,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/shard-server-2"
        },
        "address": "localhost:38005"
      },
      {
        "_id": "ShardServer3",
        "_type": "Mongod",
        "cmdOptions": {
          "port": 38006,
          "directoryperdb": true,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/shard-server-3"
        },
        "address": "localhost:38006"
      },
      {
        "_id": "ShardServer4",
        "_type": "Mongod",
        "cmdOptions": {
          "port": 38008,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/shard-server-4"
        },

        "address": "localhost:38008"
      },
      {
        "_id": "ShardServer5",
        "_type": "Mongod",
        "cmdOptions": {
          "port": 38009,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/shard-server-5"
        },
        "address": "localhost:38009"
      },
      {
        "_id": "ShardServer6",
        "_type": "Mongod",
        "cmdOptions": {
          "port": 38010,
          "dbpath": "$MONGOCTL_TEST_DB_DIR/shard-server-6"
        },
        "address": "localhost:38010"
      },


    /******** SSL Servers *********/

    {
        "_id": "ssl_node1_test_server",
        "_type": "Mongod",
        "mongoVersion": "3.0.7",
        "mongoEdition": "community_ssl",
        "cmdOptions": {
            "port": 48010,
            "dbpath": "$MONGOCTL_TEST_DB_DIR/ssl_node1_test_server",
             "sslMode": "preferSSL",
             "sslPEMKeyFile": "<TO BE SET PROGRAMMATICALLY>",
             "sslCAFile": "<TO BE SET PROGRAMMATICALLY>"
        },
        "address": "localhost:48010"
    },
    {
        "_id": "ssl_node2_test_server",
        "_type": "Mongod",
        "mongoVersion": "3.0.7",
        "mongoEdition": "community_ssl",
        "cmdOptions": {
            "port": 48011,
            "dbpath": "$MONGOCTL_TEST_DB_DIR/ssl_node2_test_server",
            "sslMode": "preferSSL",
            "sslPEMKeyFile": "<TO BE SET PROGRAMMATICALLY>",
            "sslCAFile": "<TO BE SET PROGRAMMATICALLY>"
        },
        "address": "localhost:48011"
    },
    {
        "_id": "ssl_arbiter_test_server",
        "_type": "Mongod",
        "mongoVersion": "3.0.7",
        "mongoEdition": "community_ssl",
        "cmdOptions": {
            "port": 48012,
            "dbpath": "$MONGOCTL_TEST_DB_DIR/ssl_arbiter_test_server",
            "sslMode": "preferSSL",
            "sslPEMKeyFile": "<TO BE SET PROGRAMMATICALLY>",
            "sslCAFile": "<TO BE SET PROGRAMMATICALLY>"

        },
        "address": "localhost:48012"
    }
]
