{

/***

 "fileRepository" : {
       "servers" : "servers.config", // servers file name
       "clusters" : "clusters.config" // clusters file name
    },
***/

/***
   "databaseRepository" : {
      "databaseURI" : "[YOUR MONGODB URI]",
      "servers" : "servers", // servers collection name
      "clusters" : "clusters" // clusters collection name
   }


***/

}