[
    {
        "_id": "mySimpleServer",
        "cmdOptions" : { "port": 27017,
                         "dbpath": "/Users/abdul/mySimpleServerDB"
        }

    },


    {
            "_id": "myAdvancedServer",

            "cmdOptions" :{ "port": 27667,
                            "dbpath": "/Users/abdul/myAdvancedServerDB",
                            "auth": true,
                            "smallfiles": true,
                            "noprealloc": true
            },

            "address": "localhost:27667"

    }





]