[
    {
        "_id": "SampleCluster",

        "description" : "Simple 2 node + arbiter replica-set cluster",

        "members" : [
            { 
                "server": { "$ref" : "servers", "$id": "SampleClusterServer1" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "SampleClusterServer2" } 
            },
            { 
                "server": { "$ref" : "servers", "$id": "SampleArbiter" },
                "arbiterOnly" : true
            }
        ]
    }
]
