[
    {
        "_id": "MyCluster",

        "description" : "Simple 2 node + arbiter replica-set cluster",

        "members" : [
            { 
                "server": { "$ref" : "servers", "$id": "MyClusterServer1" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "MyClusterServer2" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "MyClusterArbiter" },
                "arbiterOnly" : true
            }
        ]
    }
]
