{

/***

 "fileRepository": {
       "servers": "servers.config", // servers file name
       "clusters": "clusters.config" // clusters file name
    },
***/

/***
   "databaseRepository": {
      "databaseURI": "[MongoDB URI for your mongoctl configuration repository]",
      "servers": "servers", // servers collection name
      "clusters": "clusters" // clusters collection name
   }
***/

}