[
    {
        "_id": "MyServer",

        "description" : "My server (single mongod)",

        "cmdOptions": {
            "port": 27017,
            "dbpath": "~/mongodb-data/my-server",
            "directoryperdb": true
        }
    },

    {
        "_id": "MyClusterServer1",

        "description" : "My cluster member",

        "address": "localhost:37017",
        "cmdOptions":{
            "port": 37017,
            "dbpath": "~/mongodb-data/my-cluster-server1",
            "directoryperdb": true
        }
    },

    {
        "_id": "MyClusterServer2",

        "description" : "My cluster member",

        "address": "localhost:37027",
        "cmdOptions":{
            "port": 37027,
            "dbpath": "~/mongodb-data/my-cluster-server2",
            "directoryperdb": true
        }
    },

    {
        "_id": "MyClusterArbiter",

        "description" : "My cluster arbiter",

        "address": "localhost:37037",
        "cmdOptions":{
            "port": 37037,
            "dbpath": "~/mongodb-data/my-cluster-arbiter",
            "directoryperdb": true,
            "nojournal": true
        }
    }
]
