[
    {
        "_id": "SampleServer",
        "cmdOptions": {
            "port": 27017,
            "dbpath": "/Users/will/mongodb-data/sample-server",
            "dbpath": "~/mongodb-data/sample-server",
            "dbpath": "$HOME/mongodb-data/sample-server"
        }
    },
    {
        "_id": "myAdvancedServer",
        "mongoVersion": "2.0.4",
        "address": "localhost:27667"
        "cmdOptions": {
            "port": 27667,
            "dbpath": "/Users/abdul/myAdvancedServerDB",
            "directoryperdb": true,
            "auth": true
        }
    }
]
