[
    {
        "_id": "SampleServer",

        "description" : "Sample server (single mongod)",

        "cmdOptions": {
            "port": 27017,
            "dbpath": "~/mongodb-data/sample-server",
            "directoryperdb": true
        }
    },

    {
        "_id": "SampleClusterServer1",

        "description" : "Sample cluster member",

        "address": "localhost:37017",
        "cmdOptions":{
            "port": 37017,
            "dbpath": "~/mongodb-data/sample-cluster-server1",
            "directoryperdb": true
        }
    },

    {
        "_id": "SampleClusterServer2",

        "description" : "Sample cluster member",

        "address": "localhost:37027",
        "cmdOptions":{
            "port": 37027,
            "dbpath": "~/mongodb-data/sample-cluster-server2",
            "directoryperdb": true
        }
    },

    {
        "_id": "SampleArbiter",

        "description" : "Sample arbiter",

        "address": "localhost:37037",
        "cmdOptions":{
            "port": 37037,
            "dbpath": "~/mongodb-data/sample-arbiter",
            "directoryperdb": true
        }
    }
]
